@media(max-width:768px){
	.homepage{
		.item-home{
			height: auto;
		}

		.slider-quangcao{
			.slick-prev{
				display: none !important;
			}

			.slick-next{
				display: none !important;
			}
		}
	}

	#flipFlop{
		.modal-body.list_call{
			.contact_header{
				.item-header{
					flex: 0 0 100%;
    				max-width: 100%;
    				margin-bottom: 20px;

    				.icon-phone{
					    display: inline-block;
					    width: 40px;
					    height: 40px;
					    background: #ed3237;
					    border-radius: 100%;
					    text-align: center;
					    float: left;
					    margin-top: 22px;

					    i{
					    	color: #fff;
    						margin-top: 12px;
					    }
    				}

    				.phone-header{
    					display: inline-block;
					    margin-top: 15px;
					    margin-left: 10px;

					    p{
					    	margin-bottom: 0px;
					    }

					    .title{
					    	font-size: 16px;
    						color: #004a80;
					    }

					    .number-phone{
					    	color: #ff0000;
    						font-weight: 600;
					    }
    				}
				}
			}
		}
	}
}