@media(min-width:769px){
	.menu-main-menu-container{
		#menu-main-menu{
			display: -webkit-inline-box;
		}
	}

	#menu-main-menu{
		li{
			position: relative;

			a{
				font-family: 'OpenSansCondensed-Light';
			}

			.sub-menu{
				list-style: none;
			    padding-left: 0px;
			    display: none;
			    position: absolute;
			    top: 42px;
			    left: 0px;
			    z-index: 99;
			    width: 250px;
			    text-align: left;

			    li{
			    	border-left: 5px solid #00aeef;
			    	background: #004a80;
			    	margin-top: 1px;

			    	.sub-menu{
			    		display: none;
			    		left: 100%;
			    		top: -1px;
			    		width: 100%;
			    	}
			    }

			    li:hover{
			    	border-left: 5px solid #004a80;
			    	background: #00aeef;

			    	.sub-menu{
			    		li:hover{
			    			border-left: 5px solid #004a80;
			    		}
			    	}
			    }
			}
		}
	}
}

@media(max-width:768px){
	.mobile-menu{
		.mean-bar{
			background: #004a80;

			a.meanmenu-reveal{
				right: auto !important;
    			left: 0px !important;
			}

			#menu-main-menu{
				li{
					background: #004a80;
				}
			}
		}
	}

	.mean-container .mean-nav ul li a.mean-expand:hover{
		background: #004a80;
	}

	.header-mec{
		text-align: center;

		.logo{
			-ms-flex: 0 0 100% !important;
		    flex: 0 0 100% !important;
		    max-width: 100% !important;
		}

		#header_widget-2{
			flex: 0 0 100%;
   			max-width: 100%;

   			.item-header{
   				flex: 0 0 25%;
    			max-width: 25%;

   				.icon-phone::after{
   					display: none;
   				}

   				.icon-phone{
   					float: none;
   				}

   				.phone-header{
   					margin-left: 0px;
   				}
   			}
		}
	}
}

@media(max-width:768px){
	.slider-home{
		margin-top: 52px;
	}

	.breadcrumbs{
		.container{
			padding-top: 57px;
			
			.fa-chevron-right:before{
				width: 13px;
			    height: 20px;
			    top: 54px;
			}

			.fa-chevron-right:after{
				width: 13px;
			    height: 18px;
			    top: 67px;
			}
		}
	}
}

@media(max-width: 767px){

	.call{
		display: block;
	}

	#header_widget-2{
		display: none;
	}

	.mean-container .mean-bar{
		z-index: 9;
	}
}