@media screen and (min-width:425px) and (max-width:767px){
	.news_mec{
		.tab-content{
			.tab-pane{
				.item_news{
					max-width: 50%;
					width: 50%;
					margin-bottom: 20px;
				}
			}
		}
	}
}

@media(max-width: 424px){
	.news_mec{
		.tab-content{
			.tab-pane{
				.item_news{
					max-width: 100%;
					width: 100%;
					margin-bottom: 20px;
				}
			}
		}
	}
}