.contact_page{
	.address{
		p{
			margin-bottom: 0px;
		}

		.name_cty{
			color: #004a80;
    		font-size: 16px;
    		font-family: 'OpenSans-Bold';
		}
	}

	.form_contact{
		margin-top: 35px;

		.form-group{
			margin-bottom: 1px;
			
			.form-control-label{
				font-size: 14px;
				font-family: 'OpenSans-Bold';
				color: #004a80;
				margin-bottom: 1px;
			}

			span{
				width: 100%;

				input{
					width: 100%;
				}

				textarea{
					width: 100%;
    				height: 125px;
				}
			}
		}
	}

	.submit_mail{
		input{
			background: #ed1c24;
		    border: none;
		    color: #fff;
		    padding: 5px 15px 5px 15px;
		}
	}
}