#top-footer{
	text-align: center;
	background:#ebebeb;
	
	.icon-top{
		display: inline-block;
	    width: 50px;
	    background: #004a80;
	    border-radius: 26px 26px 0px 0px;

	    i{
	    	font-size:23px;
	    	color:#fff;
	    }
	}
}

footer.content-info{
	border-top:5px solid #004a80;
	padding-top: 20px;

	.widget-title{
		font-size:15px;
		color: #004a80;
		font-weight: 600;
	}

	.copy-right{
		text-align: center;
		background: #959595;
		padding-top: 7px;
    	padding-bottom: 7px;

		p{
			margin-bottom:0px;
			color:#fff;
			font-size:16px;
		}
	}

	.info_footer{
		-ms-flex: 0 0 39.666667%;
	    flex: 0 0 39.666667%;
	    max-width: 39.666667%;

	    .textwidget{
	    	font-size: 14px;

	    	p{
	    		margin-bottom: 5px;
	    	}
	    }
	}

	.icon-shear-footer{
		-ms-flex: 0 0 21.666667%;
	    flex: 0 0 21.666667%;
	    max-width: 20.666667%;
	    text-align: center;

	    .addtoany_list{
	    	a{
	    		span{
	    			border-radius:100%;
	    		}
	    	}
	    }
	}

	.thanhtoan{
		text-align: right;
		flex: 0 0 22%;
    	max-width: 22%;
	}

	.menu-footer{
		ul{
			padding-left: 0px;
    		list-style: none;
			background: none;

    		li{
    			a{
    				color:black;
    				font-size:14px;
    				text-decoration: none;
    			}
    		}
		}
	}
}