h1{
	font-family: 'OpenSans-Regular';
}

h2{
	font-family: 'OpenSans-Regular';
}

h3{
	font-family: 'OpenSans-Regular';
}

h4{
	font-family: 'OpenSans-Regular';
}

h5{
	font-family: 'OpenSans-Regular';
}

h6{
	font-family: 'OpenSans-Regular';
}

a{
	font-family: 'OpenSans-Regular';
}

p{
	font-family: 'OpenSans-Regular';
}


.main{
	min-height: calc(100vh - 419px);
}

.mec{
	background:#ebebeb;
}

.banner{
	background:#ebebeb;
	padding-top: 10px;
    padding-bottom: 10px;

	.header-mec{
		.item-header{
			.icon-phone{
				display:inline-block;
				width: 40px;
			    height: 40px;
			    background: #ed3237;
			    border-radius: 100%;
			    text-align: center;
			    float: left;
			    margin-top: 22px;

			    i{
			    	color:#fff;
			    	margin-top: 12px;
			    }
			}

			.phone-header{
				display:inline-block;
				margin-top: 15px;
    			margin-left: 10px;

				p{
					margin-bottom: 0px;
				}

				.title{
					font-size: 16px;
    				color: #004a80;
				}

				.number-phone{
					color: #ff0000;
    				font-weight: 600;
				}
			}
		}

		.item-header.col-md-2{
			-ms-flex: 0 0 19.666667%;
		    flex: 0 0 19.666667%;
		    max-width: 19.666667%;
		}

		.icon-phone::after{
			content: "";
		    width: 1px;
		    height: 138%;
		    background: #cfcfcf;
		    top: -15px;
		    left: -15px;
		    position: absolute;
		    transform: rotate(155deg);
		    -webkit-transform: rotate(155deg);
		}

		.icon-phone:last-child::after{
			display:none;
		}
	}
}

.menu{
	background:#004a80;

	.nav-primary{
		.menu-main-menu-container{
			display: inline-block;

			ul{
				li{
					padding: 8px 0px 8px 0px;
    				border-right: 1px solid #EBEBEB;
					a{
						color:#fff;
						font-size:18px;
						text-transform: uppercase;
						text-decoration: none;
						padding: 8px 64px 8px 65px;
					}

					.sub-menu{
						li{
							a{
								width:100%;
								padding: 9px 150px 10px 15px;
							}
						}
					}
				}

				li:hover{
					background: #00aeef;
					cursor: pointer;
				}

				li:first-child{
					border-left: 1px solid #EBEBEB;
				}
			}
		}
	}
}

.contact_header{
	display: -webkit-box;

	.item-header{
		flex: 0 0 31%;
    	max-width: 32%;
	}
}

.call{
	background: #004a80;
    height: 40px;
    padding: 0px 15px 0px 15px;
    font-size: 16px;
    position: fixed;
    left: 4%;
    z-index: 10;
    border: none;
    bottom: 15px;
    display: none;

    i{
    	margin-top: 10px;
    	color: #fff;
    }
}

.list_call{
	#header_widget-2{
		background: #ebebeb;
	    flex: 0 0 100%;
	    max-width: 100%;
	    display: inline-block;
	}
}

#menu-main-menu{
	.current-menu-item{
		background: #00aeef;
	}
}

_:-ms-fullscreen, :root .contact_header { display:-ms-flexbox; }

_:-ms-fullscreen, :root .menu-main-menu-container #menu-main-menu { display:-ms-inline-flexbox; }
// .list_call{
// 	width: 500px;
//     position: fixed;
//     top: 10px;
//     z-index: 9;
//     left: 50%;
// 	transform: translate(-50%);
// 	display: none;

// 	#header_widget-2{
// 		background: #ebebeb;
// 	    flex: 0 0 100%;
// 	    max-width: 100%;
// 	    width: 500px;
// 	    display: inline-block;
// 	}
// }