.du_an{
	position: relative;

	.title_duan{
		border-bottom: 2px solid #ed1c24;
	    margin-bottom: 25px;
	    padding-top: 25px;

	    p{
	    	margin-bottom: 0px;
		    display: inline-block;
		    background: #ed1c24;
		    padding: 5px 14px 5px 10px;
		    color: #fff;
		    text-transform: uppercase;
		    position: relative;
	    }

	    p::after{
	    	content: "";
		    position: absolute;
		    top: -2px;
		    right: -9px;
		    width: 0px;
		    height: 0px;
		    border-bottom: 0px solid transparent;
		    border-top: 38px solid transparent;
		    border-left: 9px solid #ed1c24;
	    }
	}

	.item_news{
		margin-bottom: 30px;

		a{
			text-decoration: none;
		}

		.images{
			img{
				background-size: cover !important;
			    height: auto;
			    width: 100%;
			    background-position: 50% !important;
			}
		}

		.title{
			color: #ed1c24;
		    font-size: 18px;
		    margin-bottom: 0px;
		    font-family: 'OpenSans-Bold';
		    margin-top: 5px;
		}

		.date{
			font-size: 14px;
		    color: #636363;
		    margin-bottom: 0px;
		    border-bottom: 1px solid #ed1c24;
		    padding-bottom: 5px;
		}

		.excerpt{
			font-size: 14px;
		    color: #636363;
		    margin-bottom: 0px;
		}
	}
}

.single_duan{
	.news{
	    background: #fff;
		padding: 30px;

		.title_date{
			.title_post{
				font-size: 24px;
			    color: #ed1c24;
			    font-family: 'OpenSans-Bold';
			}
		}
	}
}