.search{
	.result_search{
		border-bottom: 2px solid #959595;
	    padding-bottom: 8px;
	    padding-top: 8px;
	    margin-bottom: 5px;

	    .container{
	    	color: #225989;
    		font-size: 18px;
	    }
	}

	.list-item{
		.images-item{
			a{
				img{
					background-size: cover;
				    height: auto;
				    width: 100%;
				    background-position: 50%;
				     background-repeat: no-repeat;
				}
			}
		}

		.info-item{
			a{
				text-decoration: none;

				p{
					background: #0072bc;
				    text-align: center;
				    padding-top: 5px;
				    padding-bottom: 5px;
				    margin-bottom: 0px;
				    color:#fff;
				}
			}
		}
	}
}

.no_search{
	.container{
		p{
			margin-bottom: 0px;
		    position: absolute;
		    left: 50%;
		    top: 50%;
		    -webkit-transform: translate(-50%, -50%);
		    transform: translate(-50%, -50%);
		    font-size: 20px;
		    color: #004a80;
		}
	}
}