.tax_news{
	.title_tax{
		border-bottom: 1px solid #ed1c24;
	    margin-bottom: 20px;
	    padding-top: 30px;

	    p{
	    	color: #fff;
		    background: #ed1c24;
		    padding: 5px 14px 7px 10px;
		    display: inline-block;
		    margin-bottom: 0px;
		    position: relative;
	    }

	    p::after{
	    	content: "";
		    position: absolute;
		    top: -2px;
		    right: -9px;
		    /* transform: translateY(-50%) rotate(0deg); */
		    width: 0px;
		    height: 0px;
		    border-bottom: 0px solid transparent;
		    border-top: 38px solid transparent;
		    border-left: 9px solid #ed1c24;
	    }
	}

	.item_news{
		a{
			text-decoration: none;

			.images{
				img{
					background-size: cover !important;
				    height: auto;
				    width: 100%;
				    background-position: 50% !important;
				}
			}

			.title{
				color: #ed1c24;
			    font-size: 18px;
			    margin-bottom: 0px;
			    font-family: 'OpenSans-Bold';
			    margin-top: 5px;
			}

			.date{
				font-size: 14px;
			    color: #636363;
			    margin-bottom: 0px;
			    border-bottom: 1px solid #ed1c24;
			    padding-bottom: 5px;
			}

			.excerpt{
				font-size: 14px;
			    color: #636363;
			    margin-bottom: 0px;
			    height: 75px;
			}
		}
	}
}