.news_mec{
	.tab-content{
		width:100%;
        position: relative;
        padding-bottom: 50px;

		.tab-pane{
			width:100%;

			.item_news{
				float: left;
                margin-bottom: 20px;
			}
		}
	}

	#myTab{
		border-bottom: 1px solid #ed1c24;
    	margin-bottom: 20px;
        padding-top: 30px;

    	li{
            padding: 0;
            height: 35px;
            position:relative;

            a.active{
                color: #fff;
        		background: #ed1c24;
        		padding: 5px 14px 7px 10px;
    		}

            a.active::after{
                content: "";
                position: absolute;
                top: -2px;
                right: -9px;
                /* transform: translateY(-50%) rotate(0deg); */
                width: 0px;
                height: 0px;
                border-bottom: 0px solid transparent;
                border-top: 38px solid transparent;
                border-left: 9px solid #ed1c24;
            }
    	}

    	li{
    		a{
    			color:#ed1c24;
    			text-transform: uppercase;
                padding: 5px 14px 7px 10px;
    		}
    	}
	}

    .item_news{
        a{
            text-decoration: none;

            .images{
                img{
                    background-size: cover !important;
                    height: auto;
                    width: 100%;
                    background-position: 50% !important;
                }
            }
        }

        .title{
            color: #ed1c24;
            font-size: 18px;
            margin-bottom: 0px;
            font-family: 'OpenSans-Bold';
            margin-top: 5px;
        }

        .date{
            font-size: 14px;
            color: #636363;
            margin-bottom: 0px;
            border-bottom: 1px solid #ed1c24;
            padding-bottom: 5px;
        }

        .excerpt{
            font-size: 14px;
            color: #636363;
            margin-bottom: 0px;
            height: 75px;
        }
    }
}

.news-highlights{
    position: relative;
    margin-bottom: 35px;

    .title{
        border-bottom: 2px solid #ed1c24;
        margin-bottom: 25px;
        padding-top: 25px;

        p{
            margin-bottom: 0px;
            display: inline-block;
            background: #ed1c24;
            padding: 5px 14px 5px 10px;
            color: #fff;
            text-transform: uppercase;
            position: relative;
        }

        p::after{
            content: "";
            position: absolute;
            top: -2px;
            right: -9px;
            width: 0px;
            height: 0px;
            border-bottom: 0px solid transparent;
            border-top: 38px solid transparent;
            border-left: 9px solid #ed1c24;
        }
    }

    .item-highlights{
        position : unset!important;

        .images-item{
            float:left;

            img{
                background-size: cover !important;
                height: auto;
                width: 100%;
                background-position: 50% !important;
            }
        }

        .info-item{
            float:right;

            .title-item{
                margin-bottom: 0px;
                color: #ed1c24;
                font-size: 18px;
                font-family: 'OpenSans-Bold';
            }

            .date{
                margin-bottom: 0px;
                font-size: 14px;
                color: #464646;
            }

            .description{
                margin-bottom: 0px;
                font-size: 14px;
                color: #464646;
            }
        }

        .slick-prev{
            position: absolute;
            top: 45px;
            right: 30px;
            left: unset;
        }

        .slick-prev::before{
            content: '\f053';
            font-family: FontAwesome;
            color: black;
            font-size: 15px;
        }

        .slick-next{
            position: absolute;
            top: 45px;
            right: 0px;
        }

        .slick-next::before{
            content: '\f054';
            font-family: FontAwesome;
            color: black;
            font-size: 15px;
            margin-left: 4px;
        }

        .style-icon-next{
            background: #ed1c24;
        }

        .style-icon-next::before{
            color: #fff;
        }

        .style-icon-prev{
            background: #ed1c24;
        }

        .style-icon-prev::before{
            color: #fff;
        }
    }
}