@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf');
}

@font-face {
    font-family: 'OpenSans-ExtraBold';
    src: url('../fonts/OpenSans-ExtraBold.ttf');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/OpenSans-SemiBold.ttf');
}

@font-face {
    font-family: 'OpenSansCondensed-Bold';
    src: url('../fonts/OpenSansCondensed-Bold.ttf');
}

@font-face {
    font-family: 'OpenSansCondensed-Light';
    src: url('../fonts/OpenSansCondensed-Light.ttf');
}

.paginate{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%);


    .page-numbers{
        padding: 6px 12px;
        margin-left: 10px;
        line-height: 1.42857143;
        color: #ed1c24;
        text-decoration: none;
        border: 1px solid #ed1c24;
        border-radius: 5px;
        font-family: 'OpenSans-Bold';
    }

    .current{
        background: #ed1c24;
        color: #fff;
        border-radius: 5px;
        font-family: 'OpenSans-Bold';
    }
}

.breadcrumbs{
    border-bottom: 2px solid #959595;
    margin-bottom: 20px;
    position: relative;

    .container{
        padding-top: 6px;
        padding-bottom: 6px;

        .fa-chevron-right:before{
            content: "";
            width: 22px;
            height: 20px;
            position: absolute;
            border-right: 1px solid #c5c5c5;
            /* border-bottom: 1px solid #c5c5c5; */
            transform: rotate(-16deg);
            top: 3px;
        }

        .fa-chevron-right:after{
            content: "";
            width: 22px;
            height: 19px;
            position: absolute;
            border-right: 1px solid #c5c5c5;
            transform: rotate(16deg);
            top: 15px;
            background: none;
        }

        span{
            padding-left: 25px;
        }
    }
}

.breadcrumbs{
    a{
        text-decoration: none;
    }
}