.homepage{
	margin-top: 35px;

	.item-home{
		background: #fff;
		width:100%;
		height:auto;
		position: relative;
		border: 3px solid #004a80;
    	border-radius: 5px;
    	box-shadow: 6px 7px 4px #a7bbc9;
    	-moz-box-shadow: 5px 5px 5px #a7bbc9;
		-webkit-box-shadow: 5px 5px 5px #a7bbc9;
		overflow: hidden;

		img{
			background-size: cover !important;
		    height: auto;
		    width: 100%;
		    background-position: 50% !important;
		    transition: all 0.5s ease 0s;
		    -moz-transition: all 0.5s ease 0s;
		    -webkit-transition: all 0.5s ease 0s;
		    -o-transition: all 0.5s ease 0s;
		    -ms-transition: all 0.5s ease 0s;
		}

		img:hover{
			transform: scale(1.2, 1.2);
		    -moz-transform: scale(1.2, 1.2);
		    -webkit-transform: scale(1.2, 1.2);
		    -o-transform: scale(1.2, 1.2);
		    -ms-transform: scale(1.2, 1.2);
		}
	}
}


#search_home.home-input{
	padding: 20px;
    background: #d7d7d7;

    .search_header{
    	margin: 0 calc(100vw / 30);
	    display: -webkit-box;
	    display: -ms-flexbox;
	    display: flex;
	    -webkit-box-orient: horizontal;
	    -webkit-box-direction: normal;
	    -ms-flex-direction: row;
	    flex-direction: row;

	    #searchform{
	    	width: 100%;
	    	position: relative;

	    	i{
	    		position: absolute;
			    top: 10px;
			    left: 25px;
			    font-size: 20px;
			    color: #363f53;
	    	}

	    	.timkiem{
	    		width: 92.4%;
	    	}

	    	.submit_tk{
	    		width: 7.6%;
			    padding: 0;
			    border-radius: 0 2px 2px 0;
			    background: #004a80;
			    color: #fff;
	    	}
	    }
    }

    input{
    	height: 40px;
	    border: none;
	    border-radius: 0 2px 2px 0;
	    padding-left: 4em;
	    padding-right: 1em;
	    color: #363f53;
    }
}

.slider-quangcao{
	.slick-slider{
		margin-bottom: 0px;
		padding-bottom: 55px;
	}

	.slick-dots{
		bottom: 25px;
	}

	.slick-prev:before{
		content: '\f053';
		font-family: FontAwesome;
		color: #004a80;
	}

	.slick-next:before{
		content: '\f054';
		font-family: FontAwesome;
		color: #004a80;
	}

	.slick-dots li button:before{
		left: -0.4px;
		font-size: 12px;
		color: #004a80
	}

	.slick-dots li button{
		border: 2px solid #004a80;
    	border-radius: 100%;
    	width: 18px;
    	height: 18px;
	}

	.slick-prev, .slick-next{
		top: 40%;
	}
}