.list-item{
	position: relative;
    padding-bottom: 65px;
    
	.item{
		margin-top:30px;

		.content{
			background: #fff;
			height: auto;
			border: 2px solid #c2c2c2;
		    border-bottom: none;
		    border-radius: 5px 5px 0px 0px;

			img{
				background-size: cover !important;
			    height: auto;
			    width: 100%;
			    background-position: 50% !important;
			}
		}
	}

	.title-item{
		background: #0072bc;
	    text-align: center;
	    padding-top: 5px;
	    padding-bottom: 5px;

	    p{
	    	margin-bottom:0px;

	    	a{
		    	color: #fff;
		    	font-size:14px;
		    	text-transform: uppercase;
		    	text-decoration: none;
	    	}
	    }
	}
}

.single-wpml{
	.view{
		text-align:center;

		.thongbao{
			font-size:15px;
			color: #0054a6;
		}
				
		.download{
			padding-bottom: 25px;

			.click_download{
			    width: 120px;
			    height: auto;
			    background: #ff0000;
			    margin-left: auto;
			    margin-right: auto;
			    padding: 5px;

			    a{
			    	color: #fff;
			    	text-decoration: none;
			    }
			}
		}
	}
}

.single_noidung{
	background: #fff;
    padding: 30px;

    .title_date{
    	text-align: left;

    	.title_post{
    		font-size: 24px;
		    color: #ed1c24;
		    font-family: 'OpenSans-Bold';
    	}
    }

	.single-col-flat{
		display: none;
	}

	.wpdm-download-link{
		display: none;
	}
}

.single_noidung{
	#page{
		.slider-for{
			.images_daidien{
				    padding: 5px;
				    border: 1px solid #acacac;
				    margin-bottom: 10px;

				img{
					background-size: cover !important;
				    height: auto;
				    width: 100%;
				    background-position: 50% !important;
				}
			}
		}

		.slider-nav{
			width: 90%;
		    margin-left: auto;
		    margin-right: auto;
		    position: relative;
		    margin-bottom: 35px;

		    .slick-prev{
		    	background-image: url('../images/home/icon-left.png');
		    	position: absolute;
			    top: 50%;
			    width: 30px;
			    height: 30px;
			    left: -35px;
		    }

		    .slick-prev:before{
		    	display: none;
		    }

		    .slick-next{
				background-image: url('../images/home/icon-right.png');
				position: absolute;
			    top: 50%;
			    width: 30px;
			    height: 30px;
			    right: -28px;
		    }

		    .slick-next:before{
		    	display: none;
		    }

			.gallery{
				padding: 5px;
			    border: 1px solid #acacac;
			    margin-right: 10px;

				img{
					background-size: cover !important;
				    height: auto;
    				width: 100%;
				    background-position: 50% !important;
				}
			}
		}
	}

	.thongso_product{
		padding-left: 0px;

		.title_post{
			color: #555555;
		    font-size: 20px;
		    font-family: 'OpenSans-Bold';
		    padding-left: 30px;
		}

		.detail_product{
			background: #f3f1f1;
			padding-left: 30px;
    		padding-top: 15px;
    		padding-bottom: 15px;
		}
	}

	.mota_product{
		.mota{
			.title_mota{
				margin-bottom: 0px;
			    display: inline-block;
			    background: #004a80;
			    padding: 7px 25px 7px 25px;
			    font-family: 'OpenSans-Bold';
			    color: #fff;
			}
		}

		.content_mota{
			border: 1px solid #004a80;
			padding: 20px;
		}
	}
}

.product_lienquan.list-item{
	padding: 0px;

	.product_lq{
		border-bottom: 2px solid #ed1c24;
	    padding-top: 25px;
	    text-align: left;

	    p{
	    	margin-bottom: 0px;
		    display: inline-block;
		    background: #ed1c24;
		    padding: 5px 14px 5px 10px;
		    color: #fff;
		    text-transform: uppercase;
		    position: relative;
	    }

	    p:after{
	    	content: "";
		    position: absolute;
		    top: -2px;
		    right: -9px;
		    width: 0px;
		    height: 0px;
		    border-bottom: 0px solid transparent;
		    border-top: 38px solid transparent;
		    border-left: 9px solid #ed1c24;
	    }
	}
}

@media(max-width:767px){
	.info_product{
		margin-bottom: 20px;
	}

	.product_lienquan{
		.item{
			margin-bottom: 30px;
		}
	}
}