@media(max-width:500px){
	#search_home.home-input{
		.search_header{
			margin: 0px;

			#searchform{
				.timkiem{
					width: 89.4%;
				}

				.submit_tk{
					width: 10.6%;
				}
			}
		}
	}
}

@media(max-width: 425px){
	.breadcrumbs{
		a{
			font-size: 10px;
		}

		.container{
			span{
				padding-left: 15px;
				font-size: 10px;
			}
		}
	}
}