@media(max-width: 991px){
	.contact_page{
		.form_mail{
			flex: 0 0 100%;
    		max-width: 100%;
    		margin-bottom: 30px;
		}

		.maps{
			flex: 0 0 100%;
    		max-width: 100%;
    		margin-bottom: 30px;
		}
	}
}