@media screen and (min-width:600px) and (max-width:991px){
	footer.content-info{
		text-align: center;

		.info_footer{
			-ms-flex: 0 0 50%;
		    flex: 0 0 50%;
		    max-width: 50%;
		}

		.menu-footer{
			flex: 0 0 50%;
	    	max-width: 50%;
		}

		.icon-shear-footer{
			-ms-flex: 0 0 50%;
		    flex: 0 0 50%;
		    max-width: 50%;
		}

		.thanhtoan{
			flex: 0 0 50%;
	    	max-width: 50%;
	    	margin-bottom: 20px;
	    	text-align: center;
		}
	}
}

@media(max-width:599px){
	footer.content-info{
		text-align: center;

		.info_footer{
			-ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		    max-width: 100%;
		    margin-bottom: 20px;
		}

		.menu-footer{
			flex: 0 0 100%;
	    	max-width: 100%;
	    	margin-bottom: 20px;
		}

		.icon-shear-footer{
			-ms-flex: 0 0 100%;
		    flex: 0 0 100%;
		    max-width: 100%;
		    margin-bottom: 20px;
		}

		.thanhtoan{
			flex: 0 0 100%;
	    	max-width: 100%;
	    	margin-bottom: 20px;
	    	text-align: center;
		}
	}
}