@media screen and (min-width:769px) and (max-width:1199px){
	.banner{
		.header-mec{
			.logo.col-md-2{
				-ms-flex: 0 0 100%;
			    flex: 0 0 100%;
			    max-width: 100%;
			    text-align: center;
			}

			.contact_header{
				flex: 0 0 100%;
	    		max-width: 100%;

	    		.item-header{
	    			flex: 0 0 25%;
	    			max-width: 25%;

	    			.icon-phone::after{
	    				display: none;
	    			}
	    		}
			}
		}
	}
}

@media screen and (min-width:769px) and (max-width:991px){
	.banner{
		.header-mec{
			.contact_header{
				.item-header{
					text-align: center;

					.icon-phone{
						width: 43px;
						float: none;
					}

					.phone-header{
						    margin-left: 0px;
					}
				}
			}
		}
	}
}